export SLACK_APP_TOKEN="<insert app token here>"
export SLACK_BOT_TOKEN="<insert bot token here>"
export SLACK_BTSBOT_USER_ID="U<id for bot user>"
export SLACK_LOG_CHANNEL_ID="C<id for channel for bot logs>"
export SLACK_MUSIC_TEAM_CHANNEL_ID="C<id for channel for music team>"
# The below are for building auth from an empty database when buildig 
#  from scratch.  The only auth one necessary is AUTH_ADMIN, 
#  which can be used to bootstrap others once database is up.
export AUTH_MUSIC_TEAM="John Doe,Jane Doe"
export AUTH_EVALUATOR="John Doe,Jane Doe"
export AUTH_ADMIN="John Doe,Jane Doe"
export DAYS_TO_QUAL_EXPIRATION=365
export WARN_DAYS_PRIOR_TO_QUAL_EXPIRATION=30
